<%- include("header") -%>

<h2>This is a about page</h2>

<p>nksdfb ouasjh fdiuagsdh oasuhd ogsyid gIYAGSD OOSDA HIUSGDjhkdvjdkghfdkhg o shdou hfsd hfosd hofjhskjdfnolkdf </p>

<%- include("footer") -%>
